<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8"/>
<title>Spot the Diff</title>
<meta content="" name="description"/>
<meta content="Alyssa Rahman" name="author"/>
<!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"/>
<!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href="../../../templates/css/normalize.css" rel="stylesheet"/>
<link href="../../../templates/css/skeleton.css" rel="stylesheet"/>
<!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href="../../../templates/images/favicon.png" rel="icon" type="image/png"/>
</head>
<body>
<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
<div class="row">
<div class="ten columns" style="margin-top: 5%">
<h2>Target URL: <target>Not Specified</target></h2>
<h4>Comparison of <targetpage>Not Specified</targetpage> from <oldscan>Not Specified</oldscan> to <newscan>Not Specified</newscan></h4>
<p><diff>All the changes haz happened.</diff></p>
</div>
</div>
</div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
